[submodule "testCommon"]
	path = testCommon
	url = D:/!work/testCommon
[submodule "testCommon2"]
	path = testCommon2
	url = git@github.com:krishary/testCommon.git
[submodule "store1/common"]
	path = store1/common
	url = git@github.com:krishary/testCommon.git
[submodule "store2/common"]
	path = store2/common
	url = git@github.com:krishary/testCommon.git
